<!doctype html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script src="/js/jquery.rotate-0.3.0/jquery.rotate.js"></script>
  <script src="/js/clockModule.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>

    <section class="container">
      <section class="navbar"></section>
      <section class="time"></section>

      <!-- clock face -->
      <section class="outer_face">
        <section class="marker oneseven"></section>
        <section class="marker twoeight"></section>
        <section class="marker fourten"></section>
        <section class="marker fiveeleven"></section>
        <section class="inner_face">
          <section class="hand hour"></section>
          <section class="hand minute"></section>
          <section class="hand second"></section>
        </section>
      </section>
    </section>

    <!-- footer -->
    <section class="footer">
      <section class="description">
        <p class="tag-line">This clock was designed by Hadi.</p>
      </section>
    </section>

    <!-- client-side socket connection/clock face animation -->
    <script>

      $(document).ready(function(){
        var socket = io.connect();

        socket.on('time', function(data){
          $('.time').html(data.time);
        });
        socket.on('hour', function(data){
          $('.hand.hour').animate({rotate: data.hour})
        });
        socket.on('minute', function(data){
          $('.hand.minute').animate({rotate: data.minute})
        });
        socket.on('second', function(data){
          $('.hand.second').animate({rotate: data.second})
        });
      });

    </script>
  </body>
</html>
