<!doctype html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script src="/js/jquery.rotate-0.3.0/jquery.rotate.js"></script>
  <script src="/js/clockModule.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <!-- time display -->
    <section class="set-time">
      <p id="set-time-link">Set Time</p>
    </section>
    <section class="date"></section>
    <section class="time"></section>


      <section class="container">
      <!-- clock face -->
        <section class="outer_face">
          <section class="marker oneseven"></section>
          <section class="marker twoeight"></section>
          <section class="marker fourten"></section>
          <section class="marker fiveeleven"></section>
          <section class="inner_face">
            <section class="hand hour"></section>
            <section class="hand minute"></section>
            <section class="hand second"></section>
          </section>
        </section>
    </section>

    <!-- footer -->
    <section class="footer">
      <section class="description">
        <p class="tag-line">This clock was designed by a clocksmith.</p>
      </section>
    </section>

    <!-- client-side socket connection/clock face animation -->
    <script>
      $(document).ready(function(){
        time(socket);
        hour(socket);
        minute(socket);
        second(socket);
      });

    </script>
  </body>
</html>
